
<div class="container-fluid" >
<h2>MOLECULES AND ORGANISMES</h2>
 
 <h4>NAVBAR :</h4>
  <%= render file: "/pages/navbar_no_ban" %>

<h4>LARGE BANNER :</h4>
  <%= render file: "/pages/banner_lg_no_ban" %>
<h4>SMALL BANNER :</h4>
  <%= render file: "/pages/banner_sm_no_ban" %>
<h4>CHOICE :</h4>
  <%= render file: "/pages/choice_no_ban" %>
 <h4>CITIES INDEX :</h4>
  <%= render file: "/pages/cities_index_no_ban" %>
   <h4>COMMENTS :</h4>
  <%= render file: "/pages/comments_no_ban" %>
   <h4>EVENT USERS INDEX :</h4>
  <%= render file: "/pages/event_users_index_no_ban" %>
   <h4>EVENTS INDEX :</h4>
  <%= render file: "/pages/events_index_no_ban" %>
   <h4>FORGET PASSWORD :</h4>
  <%= render file: "/pages/forget_password_no_ban" %>
  <h4>NEW EVENT :</h4>
  <%= render file: "/pages/new_event_no_ban" %>
  <h4>PASSWORD EDIT :</h4>
  <%= render file: "/pages/password_edit_no_ban" %>
  <h4>AUTHENTIFICATION_FORM :</h4>
  <%= render file: "/pages/authentification_form_no_ban" %>
  <h4>SIGN IN< :</h4>
  <%= render file: "/pages/sign_in_no_ban" %>
  <h4>SIGN UP :</h4>
  <%= render file: "/pages/sign_up_no_ban" %>
   <h4>USERS INDEX :</h4>
  <%= render file: "/pages/users_index_no_ban" %>
   <h4>FOOTER :</h4>
  <%= render file: "/pages/footer_no_ban" %>
  </div>